<link rel="stylesheet" href="/css/image.css">
<link rel="stylesheet" href="/css/image-and-text.css">

{{ if hugo.IsProduction }}
<script src="https://getinsights.io/js/insights.js"></script>
<script>
insights.init('S38UCCOoQVJe9bgC');
insights.trackPages();
</script>
{{ end }}