<footer class="py-10 print:hidden">

  <div class="flex items-center justify-between" >

    <p class="text-xs text-neutral-500 dark:text-neutral-400" >
        <img
            alt="Creative Commons License"
            style="border-width:0; display: block; margin-left: auto; margin-right: auto"
            src="https://i.creativecommons.org/l/by/4.0/80x15.png"
        />
       
        Víctor (Bit-Man) Rodríguez, 2024
    </p>


    <p class="text-xs text-neutral-500 dark:text-neutral-400" style="{text-align: center}" >
        This work is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>
    </p>

    <p class="text-xs text-neutral-500 dark:text-neutral-400">
        Powered by <a class="hover:underline hover:decoration-primary-400 hover:text-primary-500"
        href="https://gohugo.io/" target="_blank" rel="noopener noreferrer">Hugo</a>
        &amp;
        <a class="hover:underline hover:decoration-primary-400 hover:text-primary-500"
        href="https://blowfish.page/" target="_blank" rel="noopener noreferrer">Blowfish</a>
    </p>

  </div>

</footer>